<div class="proble-data">
  <div class="d-flex">
    <app-problem-table [path]="path" [costs]="costs"></app-problem-table>
    <canvas
      class="mr-2"
      *ngIf="type === 'triangle'"
      baseChart
      width="400"
      height="200"
      [datasets]="chartDatasets"
      [options]="chartOptions"
      [colors]="chartColors"
      chartType="scatter"
    ></canvas>
  </div>

  <div *ngIf="path" class="d-flex flex-wrap my-3">
    <div class="font-weight-bold text-danger">F(x) =&nbsp;</div>
    <div *ngFor="let part of formulaParts; let i = index">
      <span>{{ part.amount }} * {{ costs[part.i][part.j] }} </span>
      <span *ngIf="i < formulaParts.length - 1"> +&nbsp;</span>
    </div>
    <div>
      &nbsp;=&nbsp;<span class="font-weight-bold text-danger">{{
        formulaResult
      }}</span>
    </div>
  </div>
</div>
