<mat-vertical-stepper
  [linear]="true"
  (selectionChange)="onStepSelected($event)"
>
  <mat-step
    [stepControl]="sendersReceiversComponent.form"
    [editable]="true"
    aria-label="senders-receivers"
  >
    <ng-template matStepLabel>Senders-Receivers</ng-template>
    <app-senders-receivers></app-senders-receivers>
    <button mat-raised-button matStepperNext>
      Next
    </button>
  </mat-step>
  <mat-step [stepControl]="costsMatrixComponent.form" aria-label="matrix">
    <ng-template matStepLabel>Matrix</ng-template>
    <app-matrix-input
      (resetMatrix)="initMatrix()"
      type="triangle"
    ></app-matrix-input>
    <button mat-raised-button matStepperNext>
      Next
    </button>
  </mat-step>
  <mat-step aria-label="path" [optional]="false" [completed]="isProblemSolved">
    <ng-template matStepLabel>Solution</ng-template>
    <mat-card
      *ngFor="let solution of solutions; let i = index"
      class="mb-4"
      [id]="'solution' + i"
    >
      <mat-card-header>
        <mat-card-title>
          E<sup>{{ i + 1 }}</sup> ({{ getCriterionName(solution.criterion) }})
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-cycle-solver
          [outerStates]="sendersReceiversComponent.outerStates.slice(0)"
          [path]="solution.path"
          [costs]="solution.costs"
          [criterion]="solution.criterion"
          [index]="i + 1"
          [prevSolutionResult]="solution.prevSolutionResult"
        >
        </app-cycle-solver>
      </mat-card-content>
    </mat-card>
    <div class="my-4 d-flex flex-column">
      <a
        *ngFor="let solution of solutions; let i = index"
        [href]="'#solution' + i"
        >View solution E<sup>{{ i + 1 }}</sup></a
      >
    </div>
    <div class="d-flex my-4">
      <button mat-raised-button color="primary" class="mr-2" (click)="solve()">
        Solve again
      </button>
      <button [disabled]="!isProblemSolved" mat-raised-button matStepperNext>
        Next
      </button>
    </div>
  </mat-step>
  <mat-step aria-label="all-criterions">
    <ng-template matStepLabel>All Criterions</ng-template>
    <mat-card *ngFor="let criterion of criterions" class="mb-4">
      <mat-card-header>
        <mat-card-title>
          {{ getCriterionName(criterion) }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-criterion
          [outerStates]="sendersReceiversComponent.outerStates.slice(0)"
          [criterion]="criterion"
          [matrix]="allCriterionsMatrix"
          [solutionIndex]="1"
        ></app-criterion>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <!-- <mat-step aria-label="path">
    <ng-template matStepLabel>NW-corner Path</ng-template>
    <ng-template #pathContainer></ng-template>
    <button mat-raised-button matStepperNext class="mt-4">
      Next
    </button>
  </mat-step> -->
  <!-- <mat-step>
    <ng-template matStepLabel
      >РОЗВ’ЯЗОК ТРАНСПОРТНОЇ ЗАДАЧІ ДЛЯ НЕЧІТКИХ ЗНАЧЕНЬ МАТРИЦІ ВИТРАТ ПРИ
      ТРЬОХ ЗОВНІШНІХ УМОВАХ НА ОСНОВІ SS-МЕТОДУ</ng-template
    >
    <app-criterion criterion="minmax" [matrix]="criterionMatrix">
    </app-criterion>
  </mat-step> -->
</mat-vertical-stepper>
