<table>
  <tr *ngFor="let row of costs; let i = index">
    <td
      *ngFor="let cost of row; let j = index"
      [class.bg-warning]="changes && changes[i][j] < 0"
      [class.bg-success]="changes && changes[i][j] > 0"
      [class.visited]="path && !changes && path[i][j]"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center p-2"
      >
        <div class="mb-1">
          <span *ngIf="path && path[i][j]" class="font-weight-bold">{{
            path[i][j]
          }}</span>
          <span *ngIf="changes && changes[i][j]" class="font-weight-bold"
            >&nbsp;<i *ngIf="changes[i][j] > 0">+</i>&nbsp;{{
              changes[i][j]
            }}</span
          >
        </div>
        <span>{{ cost }}</span>
      </div>
    </td>
  </tr>
</table>
